<!DOCTYPE html>
<html>
<head>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 

 <script src="startMenu.js"></script>
 <script src="getRowById.js"></script>
 <script src="getAllRecords.js"></script>

 
</head>
<body>
  <!-- authorization -->
  Login: <input id="login" type="text" name="login" placeholder="Enter login" /><br><br>
  Password: <input id="pass" type="password" name="pass" placeholder="Enter password" /><br><br>
  <button id="OK">OK</button>
  
  <!-- create new login -->
  <button id="Register">Register</button> <br><br>
  <div id="divNewLogin">Login: <input id="newlogin" type="text" name="newlogin" placeholder="Enter login" /><br><br></div>
  <div id="divNewPass">Password: <input id="newpass" type="password" name="newpass" placeholder="Enter login" /><br><br></div>
  <div id="divNewFirstname">Firstname: <input id="firstname" type="text" name="firstname" placeholder="Enter login" /><br><br></div>
  <div id="divNewLastname">Lastname: <input id="lastname" type="text" name="lastname" placeholder="Enter login" /><br><br></div>
  
  <!-- main menu-->
  <div id="divIdRow">id Row: <input id="idRow" type="text" name="id" placeholder="Enter id" /><br><br></div>
  <div id="divGetRowById"><button id="getRowById">getRowById</button></div>
  <div id="divGetAllRecords"><button id="getAllRecords">getAllRecords</button></div>
  <p id = "demo"></p>

</body>
</html>